{% extends "_base.html" %}

{% block content %}
<section>
    <h1>404 NOT FOUND!</h1>
    <img src="" alt="">
    <p>
        Not all requests are valid. If a resource is not found the correct response to return is a <code>404 Not Found"</code>.
        Implement a middleware function in the <code>app.js</code> file which catches all unhandeled requests and resturns a 404.
        Return a response containing a error message in JSON or render the <code>404.html</code> template.
    </p>
</section>
{% endblock %}
