{% extends "_base.html" %}

{% block content %}
<section>
    <h1>Response/Request roundtrip</h1>
    <img src="" alt="">
    <p>For this exercise follow the instructions listed below</p>
    <ul>
        <li>Install the Postman plugin</li>
        <li>Create a POST request to the <code>/exercises/5</code> endpoint</li>
        <li>In the body add JSON defining your favourite song of this moment</li>
        <li>Set the appropriate header to specify that the body of this request contains JSON</li>
        <li>Set the appropriate header to define which content-type you want the response to be</li>
        <li>Set the appropriate header to prevent caching of this response</li>
    </ul>
</section>
{% endblock %}
